{% extends 'base.html' %} {% block title %} About Page {% endblock title %} {% block body %}
<link rel="stylesheet" href="/static/css/about.css">
<section id="about_section">
    <div class="about_container">
        <h1>Wellcome To My About Page</h1>
        <div class="image">
            <img src="../static/img/logo.png" alt="">
        </div>
        <div class="about_info">
            <h2>Hi, My Name is SAEED ULLAH </h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos placeat velit recusandae? Dolorum aspernatur et corrupti commodi esse quam consectetur nostrum quos vel, iste aliquam, iure placeat porro, doloremque inventore. Lorem ipsum
                dolor sit, amet consectetur adipisicing elit. Animi cum sed doloremque voluptate esse nulla saepe obcaecati deleniti, quae, eveniet molestiae quia eum! Velit mollitia vero tempora doloremque error laboriosam. </p>
        </div>
        <div class="button">
            <button class="btn">GetStarted</button>
            <button class="btn">Login</button>
            <button class="btn">CV Download</button>
        </div>
    </div>
</section>

{% endblock body %}