{% extends 'base.html' %} {% block title %} Blog Page {% endblock title %} {% block body %}
<link rel="stylesheet" href="/static/css/blog.css">
<section id="blog_section">
    <div id="blog_container">
        <div class="blog_container">
            <img src="/static/img/1.png" alt="">
            <h1>What is HTML and its Type</h1>
            <div class="more">
                <h3>HTML is one of the most pupular scripting language. HTML is The the basic <a href="">Loren more</a></h3>
            </div>
        </div>
        <div class="blog_container">
            <img src="/static/img/2.png" alt="">
            <h1>What is css and define its roles</h1>
            <div class="more">
                <h3>HTML is one of the most pupular scripting language. HTML is The the basic <a href="">Loren more</a></h3>
            </div>
        </div>
    </div>
    <div id="blog_container">
        <div class="blog_container">
            <img src="/static/img/3.png" alt="">
            <h1>What is JavaScript</h1>
            <div class="more">
                <h3>HTML is one of the most pupular scripting language. HTML is The the basic <a href="">Loren more</a></h3>
            </div>
        </div>
        <div class="blog_container">
            <img src="/static/img/4.png" alt="">
            <h1>What is Java and define its roles</h1>
            <div class="more">
                <h3>HTML is one of the most pupular scripting language. HTML is The the basic <a href="">Loren more</a></h3>
            </div>
        </div>
    </div>
    <div id="blog_container">
        <div class="blog_container">
            <img src="/static/img/23.webp" alt="">
            <h1>What is HTML and its Type</h1>
            <div class="more">
                <h3>HTML is one of the most pupular scripting language. HTML is The the basic <a href="">Loren more</a></h3>
            </div>
        </div>
        <div class="blog_container">
            <img src="/static/img/22.webp" alt="">
            <h1>What is css and define its roles</h1>
            <div class="more">
                <h3>HTML is one of the most pupular scripting language. HTML is The the basic <a href="">Loren more</a></h3>
            </div>
        </div>
    </div>
</section>

{% endblock body %}