{% extends 'base.html' %} {% block title %} Home Page {% endblock title %} {% block body %}

<link rel="stylesheet" href="/static/css/home.css">
<div class="home_container">
    <section id="home">
        <h1>Wellcome To MyApp Hi </h1>
        <div class="home_text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quidem cum inventore! Ex, ratione odit? Explicabo aspernatur cum nostrum repellendus, aut in Lorem ipsincidun</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda tenetur labore fuga corporis hic nisi architecto asperiores optio et placeat?</p>
        </div>
        <div class="home_btn">
            <button class="btn">GetStarted</button>
            <button class="btn">Login</button>
        </div>
    </section>
</div>

{% endblock body %}