{% extends 'base.html' %} {% block title %} Blog Page {% endblock title %} {% block body %}
<link rel="stylesheet" href="/static/css/services.css">

<section id="services">
    <div class="services_container">
        <div class="services_box">
            <img src="../static/img/1.png" alt="">
            <h2 class="h_secondary">This is My service</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sed non dolores eos nam delectus, animi doloremque eveniet cumque, nisi similique commodi blanditiis dolorem esse. Magnam ad numquam ab. Similique?</p>
        </div>
        <div class="services_box">
            <img src="../static/img/2.png" alt="">
            <h2 class="h_secondary">This is My service</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sed non dolores eos nam delectus, animi doloremque eveniet cumque, nisi similique commodi blanditiis dolorem esse. Magnam ad numquam ab. Similique?</p>
        </div>
        <div class="services_box">
            <img src="../static/img/3.png" alt="">
            <h2 class="h_secondary">This is My service</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sed non dolores eos nam delectus, animi doloremque eveniet cumque, nisi similique commodi blanditiis dolorem esse. Magnam ad numquam ab. Similique?</p>
        </div>
    </div>


</section>


{% endblock body %}